<ion-content>
  <form [formGroup]="revenueForm">
    <ion-item>
      <ion-label>Nome:</ion-label>
      <ion-input [(ngModel)]="revenue.name" formControlName="name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Tipo:</ion-label>
      <ion-select [(ngModel)]="revenue.type" formControlName="type">
        <ion-select-option value="salary">Salário</ion-select-option>
        <ion-select-option value="others">Outros</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Valor:</ion-label>
      <ion-input [(ngModel)]="revenue.amount" formControlName="amount" type="number"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Data</ion-label>
      <ion-input [(ngModel)]="revenue.date" formControlName="date" type="Date"></ion-input>
    </ion-item>

    <div class="ion-text-center">
      <ion-button *ngIf="isInsert === true" (click)="onUpsertButtonClick()">Salvar receita</ion-button>
      <ion-button *ngIf="isInsert === false" (click)="onUpsertButtonClick()">Atualizar receita</ion-button>
    </div>
  </form>
</ion-content>