<!-- <ion-header> -->
	<!-- </ion-header> -->
	
<ion-content class="ion-padding">
	<ion-img class="app-photo" src="../../assets/icon/icon.png"></ion-img>

	<!-- <ion-grid>
		<ion-row>
		  <ion-col>
			  <h2 class="ion-text-center">
				  Login rápido:
			  </h2>
		  </ion-col>
		</ion-row>
		<ion-row>
			<ion-col class="ion-text-center">
				<ion-button (click)="signInWithGmail()">
					<ion-icon slot="start" name="logo-google"></ion-icon>
					Gmail
				</ion-button>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<h3 class="ion-text-center">
					Ou:
				</h3>
			</ion-col>
		  </ion-row>
	  </ion-grid> -->

	<form (ngSubmit)="login()" [formGroup]="credentials">
		<ion-item fill="solid" class="ion-margin-bottom">
			<ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
			<ion-note slot="error" *ngIf="(email.dirty || email.touched) && email.errors"
				>Email inválido</ion-note
			>
		</ion-item>
		<ion-item fill="solid" class="ion-margin-bottom">
			<ion-input type="password" placeholder="Senha" formControlName="password"></ion-input>
			<ion-note slot="error" *ngIf="(password.dirty || password.touched) && password.errors"
				>A senha precisa de ao menos 6 caracteres</ion-note
			>
		</ion-item>

		<ion-button type="submit" expand="block" [disabled]="!credentials.valid">Log in</ion-button>
		<ion-button type="button" expand="block" color="tertiary" (click)="register()">Criar conta</ion-button>
		<ion-button type="button" expand="block" color="tertiary" (click)="forgotPassword()" fill="clear">Esqueceu sua senha? Clique aqui!</ion-button>
	</form>
</ion-content>