<ion-app>
  <app-global-header></app-global-header>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Lista de Despesas</ion-title>
        
      </ion-toolbar>
    </ion-header>

    <ion-list>
      <ion-item>
        <ion-select placeholder="Modo de exibição" value="{{defaultListView}}" (ionChange)="changeListView($event)">
          <ion-select-option value="List">Lista</ion-select-option>
          <ion-select-option value="Table">Tabela</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <ion-content>
      <ion-list *ngIf="showListItems">
        <ion-item *ngFor="let bill of bills">
          <ion-label>
            <h2>{{ bill.name }}</h2>
            <p>Data de vencimento: {{ bill.dueDate }}</p>
            <p>Preço: {{ bill.price }}</p>
            <p>Pago?: {{ bill.paid }}</p>
            <p>Categoria: {{ bill.category }}</p>
            <p>Data de pagamento: {{ bill.paymentDate }}</p>
            <!-- <p>: {{ bill.reminder }}</p> -->
            <p>Anotações: {{ bill.notes }}</p>
            <ion-button (click)="editBill(bill.primaryKey)">Edit Bill</ion-button>
          </ion-label>
        </ion-item>
      </ion-list>

      <ion-grid *ngIf="showTableItems">
        <ion-row>
          <ion-col>Nome</ion-col>
          <!-- <ion-col>Due Date</ion-col> -->
          <ion-col>Preço</ion-col>
          <ion-col>Pago?</ion-col>
          <ion-col>Categoria</ion-col>
          <!-- <ion-col>Payment Date</ion-col> -->
          <!-- <ion-col >Reminder</ion-col> -->
          <!-- <ion-col>Notes</ion-col> -->
        </ion-row>
        <ion-row *ngFor="let bill of bills">
          <ion-col>{{ bill.name }}</ion-col>
          <!-- <ion-col>{{ bill.dueDate }}</ion-col> -->
          <ion-col>{{ bill.price }}</ion-col>
          <ion-col>{{ bill.paid }}</ion-col>
          <ion-col>{{ bill.category }}</ion-col>
          <!-- <ion-col>{{ bill.paymentDate }}</ion-col> -->
          <!-- <ion-col>{{ bill.reminder }}</ion-col> -->
          <!-- <ion-col>{{ bill.notes }}</ion-col> -->
        </ion-row>
      </ion-grid>
    </ion-content>
  </div>
</ion-app>