.custom-avatar {
    height: 150px;
    width: 150px;
    border: 1px solid #fff;
    // border-radius: 50%;
    // display: inline-block;
    // margin-left: auto;
    // margin-right: auto;
    // height: 200px;
    // width: 200px;

    display: block;
    margin-left: auto;
    margin-right: auto;
    // margin-top: 10px;
    // margin-bottom: 10px;

    // position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.hide-card {
    -webkit-box-shadow: none!important;
}