<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <div class="ion-text-center"> 
      <ion-button expand="full" (click)="navigateToHome()">Home page</ion-button>
      <ion-button expand="full" (click)="navigateToInsertBill()">Inserir uma despesa</ion-button>
      <ion-button expand="full" (click)="navigateToListBill()">Lista de despesas</ion-button>
      <ion-button expand="full" (click)="navigateToInsertRevenue()">Inserir uma receita</ion-button>
      <ion-button expand="full" (click)="navigateToListRevenue()">Lista de receitas</ion-button>
      <ion-button expand="full" (click)="navigateToSettings()">Configurações</ion-button>
    </div>
  </ion-content>
</ion-menu>