

<ion-content class="ion-padding">

  <ion-img class="app-photo" src="../../assets/icon/icon.png"></ion-img>

  <form (ngSubmit)="recoverPassword()" [formGroup]="emailForm">
    <ion-item fill="solid" class="ion-margin-bottom">
      <ion-input type="email" placeholder="Email" formControlName="email" [(ngModel)]="emailParameter"></ion-input>
      <ion-note slot="error" *ngIf="(email.dirty || email.touched) && email.errors">
        Email inválido
      </ion-note>
    </ion-item>

    <ion-button type="submit" expand="block" [disabled]="!emailForm.valid">Enviar redefinição de senha</ion-button>
    <ion-button type="button" expand="block" color="tertiary" (click)="navigateToLogin()" fill="clear">Possuí cadastro? Faça o login!</ion-button>
  </form>

</ion-content>
