<ion-app>
  <app-global-header></app-global-header>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Finanças Inteligentes</ion-title>
      </ion-toolbar> 
    </ion-header>
    <ion-content>

       
      <!-- <ion-button id="open-custom-dialog" expand="block">Open Custom Dialog</ion-button> -->
      
      <ion-modal id="example-modal" #modal [isOpen]="hasOverdueBills" trigger="open-custom-dialog">
        <ng-template>
          <div class="wrapper"> 
            <h1>Você possuí depesas vencidas!</h1>

            <ion-card>
              <ion-card-header>
                <!-- <ion-card-title>
                  
                </ion-card-title> -->
                <br/>
                <ion-grid>
                  <ion-row>
                    <ion-col>Nome</ion-col>
                    <ion-col>Preço</ion-col>
                    <ion-col>Data de Vencimento</ion-col>
                  </ion-row>
                  <ion-row *ngFor="let bill of overdueBills">
                    <ion-col>{{bill.name}}</ion-col>
                    <ion-col>R${{bill.price}}</ion-col>
                    <ion-col>{{bill.dueDate}}</ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-header>
            </ion-card>
      
            <!-- <ion-card *ngIf="hasCloseDueDate === true">
              <ion-card-header>
                <ion-card-title>Contas a vencer</ion-card-title>
              </ion-card-header>
      
              <ion-card-content>
                Contas a vencer nos próximos 7 dias
              </ion-card-content>
            </ion-card> -->
          </div>
        </ng-template>
      </ion-modal>

      <ion-card>
        <ion-card-header>
          <ion-card-title>Visão Geral</ion-card-title>
        </ion-card-header>

        <ion-card-content class="ion-text-center">
          <ion-grid>
            <ion-row>
              <ion-col class="vertical-align-content">
                <ion-button fill="clear" (click)="navigateToPreviousMonth()">
                  <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
                </ion-button>
              </ion-col>
              <ion-col class="ion-padding-vertical">
                <h2>{{choosedYear}}</h2>
                <h2 class="ion-text-capitalize">{{choosedMonth}}</h2>
              </ion-col>
              <ion-col class="vertical-align-content">
                <ion-button fill="clear" (click)="navigateToNextMonth()">
                  <ion-icon slot="icon-only" name="arrow-forward-outline"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>

          <ion-item>
            <ion-label>
              <h1>Receitas</h1>
              <p>{{formattedChoosedMonthRevenues}}</p>
            </ion-label>
          </ion-item>

          <ion-item>
            <ion-label>
              <h1>Despesas</h1>
              <p>{{formattedChoosedMonthExpenses}}</p>
            </ion-label>
          </ion-item>

          <ion-item>
            <ion-label>
              <h1>Saldo do mês</h1>
              <p>{{formattedChoosedMonthBalance}}</p>
            </ion-label>
          </ion-item>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-content>
          <canvas #barCanvas style="position: relative; height:20vh; width:40vw"></canvas>
        </ion-card-content>
      </ion-card>

      <ion-fab slot="fixed" vertical="bottom" horizontal="center">
        <ion-fab-button (click)="presentActionSheet()" color="secondary" >
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>

    </ion-content>
  </div>
</ion-app>