<ion-app>
  <app-global-header></app-global-header>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Finanças Inteligentes</ion-title>
      </ion-toolbar> 
    </ion-header>
    <ion-content>
      <ion-modal id="example-modal" #modal [isOpen]="hasOverdueBills" trigger="open-custom-dialog">
        <ng-template>
          <div class="wrapper">
            <h1>Você possuí depesas vencidas!</h1>
            <app-overdue-modal [overdueBills]="overdueBills"></app-overdue-modal>
          </div>
        </ng-template>
      </ion-modal>

      <!-- <ion-content class="ion-padding"> -->
        <ion-button id="open-modal" expand="block">Open</ion-button>
        <!-- <p>{{ message }}</p> -->
        <ion-modal #modalFirstAccess trigger="open-modal" (willDismiss)="onWillDismiss($event)">
          <ng-template>
            <!-- <ion-header>
              <ion-toolbar>
                <ion-buttons slot="start">
                  <ion-button (click)="cancel()">Cancel</ion-button>
                </ion-buttons>
                <ion-title>Welcome</ion-title>
                <ion-buttons slot="end">
                  <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
                </ion-buttons>
              </ion-toolbar>
            </ion-header> -->
            <ion-content class="ion-padding">
              <!-- <ion-item>
                <ion-label position="stacked">Enter your name</ion-label>
                <ion-input type="text" placeholder="Your name" [(ngModel)]="name"></ion-input>
              </ion-item> -->
              <swiper style="height: 100%;" [pagination]="true"> 
                <ng-template swiperSlide>
                  <ion-content class="ion-padding">
                    

                    <p>Olá e bem-vindo ao nosso aplicativo de finanças pessoais!</p> 
                    
                    <p>Estamos animados em tê-lo como usuário e esperamos que esta 
                      plataforma ajude você a gerenciar suas finanças de forma mais 
                      eficiente e inteligente.</p>

                    <p>Nós nos esforçamos para fornecer a você as melhores ferramentas 
                      e recursos para ajudá-lo a alcançar suas metas financeiras.
                      Então, comece a explorar o aplicativo e aproveite ao máximo sua 
                      experiência de gerenciamento financeiro!</p>

                    <br/>

                    <ion-footer collapse="fade">
                      <ion-toolbar>
                        <ion-button fill="clear">Pular Introdução</ion-button>
                      </ion-toolbar>
                    </ion-footer>

                  </ion-content>
                </ng-template>
                <ng-template swiperSlide>  
                  <p>Visão geral das ferramentas</p>
                </ng-template>
                <ng-template swiperSlide>
                  <p>Slide 2</p>
                </ng-template>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
              </swiper>
            </ion-content>
          </ng-template>
        </ion-modal>

      
      <ion-card>
        <ion-card-header>
          <ion-card-title>Visão Geral</ion-card-title>
        </ion-card-header>

        <ion-card-content class="ion-text-center">
          <ion-grid>
            <ion-row>
              <ion-col class="vertical-align-content">
                <ion-button fill="clear" (click)="navigateToPreviousMonth()">
                  <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
                </ion-button>
              </ion-col>
              <ion-col class="ion-padding-vertical">
                <h2>{{choosedYear}}</h2>
                <h2 class="ion-text-capitalize">{{choosedMonth}}</h2>
              </ion-col>
              <ion-col class="vertical-align-content">
                <ion-button fill="clear" (click)="navigateToNextMonth()">
                  <ion-icon slot="icon-only" name="arrow-forward-outline"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>

          <ion-item>
            <ion-label>
              <h1>Receitas</h1>
              <p>{{formattedChoosedMonthRevenues}}</p>
            </ion-label>
          </ion-item>

          <ion-item>
            <ion-label>
              <h1>Despesas</h1>
              <p>{{formattedChoosedMonthExpenses}}</p>
            </ion-label>
          </ion-item>

          <ion-item>
            <ion-label>
              <h1>Saldo</h1>
              <p>{{formattedChoosedMonthBalance}}</p>
            </ion-label>
          </ion-item>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-content>
          <canvas #barCanvas style="position: relative; height:20vh; width:40vw"></canvas>
        </ion-card-content>
      </ion-card>

      <ion-fab slot="fixed" vertical="bottom" horizontal="center">
        <ion-fab-button (click)="presentActionSheet()" color="secondary" >
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>

    </ion-content>
  </div>
</ion-app>